<div class="flex flex-col flex-auto min-w-0">

    <div class="mt-10 text-3xl sm:text-5xl font-extrabold leading-tight tracking-tight text-center">Turkon - Ladies & Business</div>
    <div class="mt-2 text-xl text-center text-secondary">"Ladies & Business" dagi katta "figuralar" bilan</div>


    <div class="carousel-container">
        <div class="thumbnails">
            <div *ngFor="let image of images; let i = index" class="thumbnail-item">
                <img [src]="image" [class.active]="currentSlide === i" (click)="setSlide(i)" alt="Thumbnail" />
            </div>
        </div>
        
        <div class="main-image">
            <img [src]="images[currentSlide]" alt="Main Image" (load)="onTransitionEnd()" />
        </div>
        
        
        <button class="prev" (click)="prevSlide()">&#10094;</button>
        <button class="next" (click)="nextSlide()">&#10095;</button>
    </div>
</div>




<style>

    .carousel-container {
        display: flex;
        flex-direction: column;
        align-items: center;
        position: relative;
    }
    
    .main-image {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 80%; 
        max-width: 500px; 
    }
    
    .main-image img {
        width: 100%; 
        height: auto; 
        margin-top: 20px;
        max-height: 550px; 
        border-radius: 10px;
        margin-bottom: 20px;
        transition: transform 0.5s ease-in-out;
    }
    
    .thumbnails {
        display: flex;
        gap: 15px;
        justify-content: center; 
    }
    
    .thumbnail-item {
        width: 100px; 
        height: 120px; 
        border: 1px solid rgba(0, 0, 0, 0.1); 
    }
    
    .thumbnail-item img {
        width: 100%; 
        height: 100%; 
        object-fit: cover; 
        opacity: 0.6;
        cursor: pointer;
        border-radius: 5px;
        transition: opacity 0.3s ease;
    }
    
    .thumbnail-item img.active,
    .thumbnail-item img:hover {
        opacity: 1;
    }
    
    .prev,
    .next {
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        background-color: rgba(0, 0, 0, 0.5);
        color: white;
        padding: 10px;
        cursor: pointer;
        font-size: 24px;
        border: none;
        z-index: 1;
    }
    
    .prev {
        left: 15%;
    }
    
    .next {
        right: 15%;
    }
    
    .prev:hover,
    .next:hover {
        background-color: rgba(0, 0, 0, 0.8);
    }
    
    

</style>